html,
body,
ol {
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.main_wrap {
  width: 100%;
  background-color: silver;
}

.main_list {
  margin: 0 auto;
  width: 300px;
  padding: 20px 0;
}

.main_list li {
  float: left;
  background-color: lightpink;
  width: 90px;
  height: 90px;
  line-height: 90px;
}

.img_wrap {
  position: relative;
  width: 200px;
  height: 134px;
}

.img_wrap:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  border: 1px solid rgba(0, 0, 0. 0.3);
  background-color: rgba(0, 0, 0, 0.15);
}

.main_list:after {
  clear: both;
  content: '';
  display: block;
}

.main_list li+li {
  margin-left: 15px;
}

.sub_list {
  margin: 0 auto;
  padding: 20px 0;
  width: 300px;
}

.sub_list li {
  float: left;
  width: 48px;
  height: 48px;
  background-color: olive;
  margin-bottom: 15px;
  margin-right: 15px;
  line-height: 48px;
}

.sub_list:after {
  clear: both;
  content: '';
  display: block;
}

.sub_list li:nth-child(5n) {
  margin-right: 0px;
}

p {
  width: 200px;
  background-color: yellow;
  font-size: 16px;
  line-height: 20px;
}

.elip1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.elip2 {
  /* 가변 높이 지정 - 글자가 있는 영역의 높이가 
  40px보다 적은 경우
  최소 크기로 줄어듬. */
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.elip3 {
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
