@charset "UTF-8";

.content {
  height: 4000px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.popup:after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: '';
}

.popup_layer {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 500px;
  min-height: 150px;
  padding-bottom: 50px;
  margin-right: -4px;
  background: #fff;
  /*z-index 는 position: relative or absolute 와 같이 사용해야 한다.*/
  z-index: 10;
}

.text_area {
  padding: 50px 30px 30px;
  text-align: center;
}

.btn_area {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background: yellow;
  overflow: hidden;
}

.btn {
  width: 50%;
  float: left;
  height: 100%;
  border: 0px;
  background: pink;
  font-size: 15px;
  font-weight: bold;
}

.btn.no {
  background: lightblue;
}

.popup_dimmed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.3;
}